<section>
    <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input #password matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <button id="button-login" mat-raised-button color="primary" (click)="onLoginClick(password.value)"> Login </button>
</section>